@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

body {
    background: url(../assets/sky.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #ccc;
}

header {
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    font-family: "Ubuntu Mono", monospace;
}

.logo {
    width: 200px;
}

.label {
    font-family: ui-monospace,"Ubuntu Mono", monospace;
    font-size: 18px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #a4a6a921;
    color: white;
    border-radius: 0.6em;
    cursor: pointer;
    margin: 50px;
}

.container {
    display: flex;
}

.sidebar {
    width: 210px;
    height: 80vh;
    padding: 2em;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar button {
    position: relative;
    display: block;
    width: 100%;
    padding: 2em;
    margin-bottom: 4em;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    z-index: 9;
}

.sidebar button:hover {
    background-color: #ccc;
}

.content {
    flex: 1;
    padding: 1rem;
    color: black;
}

.inner-content {
    padding-left: 140px;
}

.section {
    display: block;
    text-align: center;
    align-content: center;
    color: white;
}

.section h2 {
    margin-top: 0;
}

main {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: -140px;
    backdrop-filter: blur(11px) saturate(180%);
    -webkit-backdrop-filter: blur(11px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.54);
    border-radius: 50px;
    border: 0px solid rgba(255, 255, 255, 0.505);
}

.form {
    color: #ccc;
    align-content: center;
    text-align: center;
    padding-left: 140px;
}
#upload-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 100%;
    font-size: 20px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
  